<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>multipart CSRF generator</title>
</head>
<body>

<h2>HTTP multipart リクエストファイルをアップロードしてください</h2>
<form data-th-action="@{/upload-multipart-request}" method="post" enctype="multipart/form-data">
完全なURL : <input type="text" name="url" value="" placeholder="http:// または https:// 始まりのURL" size="100"/><br />
リクエストの主たる文字コード : 
<select name="csname">
<option th:each="cs : ${charsets}" th:value="${cs}" th:inline="text">[[${cs}]]</option>
</select><br />
HTTP multipart リクエストファイル : <input type="file" name="httpRequest"/><br />
生成するCSRFフォームでの自動アクセス : 
<label><input type="radio" name="enableAutoAccess" value="true" data-th-checked="true"/>ON</label>
<label><input type="radio" name="enableAutoAccess" value="false"/>OFF</label><br />
Cookie送信(withCredentials) : 
<label><input type="radio" name="withCredentials" value="true" data-th-checked="true"/>ON</label>
<label><input type="radio" name="withCredentials" value="false"/>OFF</label><br />
Basic認証(Authorizationヘッダーのコピー) : 
<label><input type="radio" name="copyAuthorizationHeader" value="true" data-th-checked="true"/>ON</label>
<label><input type="radio" name="copyAuthorizationHeader" value="false"/>OFF</label><br />
<input type="submit"/>
</form>

<h2>CSRFフォーム生成ログ</h2>
<table border="1">
<tr><th>生成日時</th><th>token, URL</th></tr>
<tr data-th-each="csrfItem : ${csrfHistory.items}">
<td data-th-text="${#dates.format(csrfItem.timestamp, 'yyyy-MM-dd HH:mm:ss.SSS')}"></td>
<td><a data-th-text="${csrfItem.token}" data-th-href="@{/csrf-form/{token}(token=${csrfItem.token})}"></a><br/><span data-th-inline="text">[[${csrfItem.url}]]</span></td>
</tr>
</table>

<h2>HTTP multipart リクエストのサンプルフォーム</h2>

UTF-8日本語文字列パラメータを含む 0x00 - 0xFF のファイルアップロードのmultipart リクエストをサンプリングするダミーフォームです。
ローカルHTTPプロキシを使ってmultipartリクエストを保存し、上のフォームにアップロードしてみてください。

<ul>
<li><a data-th-href="@{/256_0to255.bin}" target="_blank">0x00 - 0xFF が1回繰り返された256バイトのバイナリデータファイル</a></li>
<li><a data-th-href="@{/512_0to255.bin}" target="_blank">0x00 - 0xFF が2回繰り返された512バイトのバイナリデータファイル</a></li>
<li><a data-th-href="@{/sample-multipart-request-1.bin}" target="_blank">実際に上記ファイルをこのフォームで送信したときのHTTPリクエストのサンプル</a></li>
</ul>

<form method="post" enctype="multipart/form-data" target="_blank" data-th-action="@{/dummy}">
<table>
<tr><th>ascii pname1%0d%0a</th><td><input type="text" name="ascii pname1%0d%0a" value="ascii &#13;&#10;pvalue1%0d%0a"/></td></tr>
<tr><th>ascii(0x0d)(0x0a)pname2[]%0d%0a</th><td><textarea name="ascii&#13;&#10;pname2[]%0d%0a">ascii
pvalue2[]
%0d%0a</textarea></td></tr>
<tr><th>&lt;&gt;&quot;&amp;&#39;日本語キー</th><td><input type="text" name="&lt;&gt;&quot;&amp;&#39;日本語キー" value="&lt;&gt;&quot;&amp;&#39;日本語文字列1"/></td></tr>
<tr><th>&lt;&gt;&quot;&amp;&#39;日本語キー</th><td><input type="text" name="&lt;&gt;&quot;&amp;&#39;日本語キー" value="&lt;&gt;&quot;&amp;&#39;日本語文字列2"/></td></tr>
<tr><th>fileA</th><td><input type="file" name="fileA"/></td></tr>
<tr><th>&lt;&gt;&quot;&amp;&#39;ファイル(0x0d)(0x0a)B%0d%0a</th><td><input type="file" name="&lt;&gt;&quot;&amp;&#39;ファイル&#13;&#10;B%0d%0a"/></td></tr>
</table>
<input type="submit"/>
</form>

</body>
</html>